# How to use YAML

## Sources

[reading and writing YAML](https://stackabuse.com/reading-and-writing-yaml-to-a-file-in-python/)  
[writing YAML files](https://towardsdatascience.com/writing-yaml-files-with-python-a6a7fc6ed6c3)  
[YAML tutorial](https://www.cloudbees.com/blog/yaml-tutorial-everything-you-need-get-started)  
[Using YAML in python for structured data](https://kitchingroup.cheme.cmu.edu/blog/2014/02/03/Using-YAML-in-python-for-structured-data/)

In [1]:
import pandas as pd
import yaml

## Config

The content of YAML file is the following code.

```
name_file: 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv'

rename_day:
 Thur: Thursday
 Fri: Friday
 Sat: Saturday
 Sun: Sunday
    
a_list:
 - Monday
 - Tuesday
 - Wednesday
 - Thursday
 - Friday
 - Saturday
 - Sunday
 
a_dictionary:
  Mon: Monday
  Tue: Tuesday
  Wed: Wednesday
  Thu: Thursday
  Fri: Friday
  Sat: Saturday
  Sun: Sunday
  
customers:
  customer_a:
    time: Dinner
    day: 
      - Thursday
      - Friday
  customer_b:
    time: Lunch
    day: 
      - Thursday
      - Friday  
  customer_c:
    time: Dinner
    day: 
      - Saturday
      - Sunday
  customer_d:
    time: Lunch
    day: 
      - Saturday
      - Sunday        
 
set_table_styles:
  hover:
    selector: 'tr:hover'
    props: [['background-color', 'black'], ['color', 'white']]
  nth-of-type(odd):
    selector: 'tr:nth-of-type(odd)'
    props: [['background', '#bbb']]
  nth-of-type(even):
    selector: 'tr:nth-of-type(even)'
    props: [['background', 'white']]
  th:
    selector: 'th'
    props: [['background', '#606060'], ['color', 'white'] , ['font-family', 'verdana'], ['font-size', '1.1em']]
  td:
    selector: 'td'
    props: [['font-family', 'verdana'], ['font-size', '0.9em']]
```

In [2]:
with open('./yaml/config.yaml', 'r') as ymlfile:
    cfg = yaml.full_load(ymlfile)

A numeric variable

In [3]:
cfg['a_value']

23.45

A text variable

In [4]:
cfg['name_file']

'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv'

A list

In [5]:
cfg['a_list']

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

A dictionary

In [6]:
cfg['a_dictionary']

{'Mon': 'Monday',
 'Tue': 'Tuesday',
 'Wed': 'Wednesday',
 'Thu': 'Thursday',
 'Fri': 'Friday',
 'Sat': 'Saturday',
 'Sun': 'Sunday'}

A complex structure

In [7]:
cfg['customers']

{'customer_a': {'time': 'Dinner', 'day': ['Thursday', 'Friday']},
 'customer_b': {'time': 'Lunch', 'day': ['Thursday', 'Friday']},
 'customer_c': {'time': 'Dinner', 'day': ['Saturday', 'Sunday']},
 'customer_d': {'time': 'Lunch', 'day': ['Saturday', 'Sunday']}}

## Data import

Data import with configurations.

In [8]:
data = \
pd\
    .read_csv(cfg['name_file'])\
    .replace({'day': cfg['rename_day']})

In [9]:
data

     total_bill   tip     sex smoker       day    time  size
0         16.99  1.01  Female     No    Sunday  Dinner     2
1         10.34  1.66    Male     No    Sunday  Dinner     3
2         21.01  3.50    Male     No    Sunday  Dinner     3
3         23.68  3.31    Male     No    Sunday  Dinner     2
4         24.59  3.61  Female     No    Sunday  Dinner     4
..          ...   ...     ...    ...       ...     ...   ...
239       29.03  5.92    Male     No  Saturday  Dinner     3
240       27.18  2.00  Female    Yes  Saturday  Dinner     2
241       22.67  2.00    Male    Yes  Saturday  Dinner     2
242       17.82  1.75    Male     No  Saturday  Dinner     2
243       18.78  3.00  Female     No  Thursday  Dinner     2

[244 rows x 7 columns]

## Data Show

Table with styles from yaml file.

In [10]:
data\
    .head(5)\
    .style\
        .set_table_styles(
            [cfg['set_table_styles']['nth-of-type(odd)'],
             cfg['set_table_styles']['nth-of-type(even)'],
             cfg['set_table_styles']['th'],
             cfg['set_table_styles']['td'],
             cfg['set_table_styles']['hover']])\
        .hide_index()

In [11]:
cfg_tables = \
[cfg['set_table_styles']['nth-of-type(odd)'],
 cfg['set_table_styles']['nth-of-type(even)'],
 cfg['set_table_styles']['th'],
 cfg['set_table_styles']['td'],
 cfg['set_table_styles']['hover']]

In [12]:
data.head(5).style.set_table_styles(cfg_tables).hide_index()